@import url('https://fonts.googleapis.com/css2?family=Livvic:ital@1&display=swap');

body{
      background-color: #f8ecc2;
      
}
.frases{
    font-family: 'Livvic', sans-serif;
    font-style: bold;
    font-size: 4rem;
    padding-top: 20px;
    color:#f8ecc2;
    text-align: center;
    
}

  
.container{
    
    display: block;
    background-color:#65a8a4 ;
    width: 40%;
    padding-bottom: 60px;
    border-style: groove;
    border-radius: 20px;
    margin:auto;
    box-shadow: 2px 2px 2px 2px #f8ecc2 ;  
}
li{
      font-family: 'Schoolbell', cursive;
      list-style-type:square;
      color:#f8ecc2;
      text-align: center;
      list-style-type: none;
     

}
#add{
text-align: center;
border-radius: 10px;
border-color: #eed373;
width: 340px;
padding: 10px;
background-color:  #f8ecc2 ;  
height: 35px;



}
.add-elements{
  text-align: center;


}
#titulo{

    font-size: 3rem;
    font-style: oblique;
    font-weight:500;

}



.checked{
    text-decoration: line-through;
    background-color: #65a8a4;
}

#btnDel{
  border: none;
  background-color:#65a8a4 ;

}
#btn{
    border: none;
  background-color:#65a8a4 ;
  
}
.botoes:active{
    width: 40px;
    height: 40px;
    padding: 10px;

}
